migrations/__pycache__/env.cpython-39.pyc
migrations/versions/__pycache__/ba8d9700deb8_added_user_model.cpython-39.pyc
migrations/versions/__pycache__/fd01ff6b552c_migrations_relations.cpython-39.pyc
src/__pycache__/__init__.cpython-39.pyc
src/__pycache__/routes.cpython-39.pyc
src/database/__pycache__/__init__.cpython-39.pyc
src/database/__pycache__/models.cpython-39.pyc
src/resources/__pycache__/actors.cpython-39.pyc
src/resources/__pycache__/auth.cpython-39.pyc
src/resources/__pycache__/films.cpython-39.pyc
src/resources/__pycache__/smoke.cpython-39.pyc
src/schemas/__pycache__/actors.cpython-39.pyc
src/schemas/__pycache__/films.cpython-39.pyc
src/schemas/__pycache__/users.cpython-39.pyc
src/services/__pycache__/film_service.cpython-39.pyc
test/__pycache__/test_films.cpython-39-pytest-6.2.4.pyc
test/__pycache__/test_smoke.cpython-39-pytest-6.2.4.pyc